.searchTab{ /* cotine toate elementele din Search Bar*/
    align-self:center;
}
.form{/* La fel ca la .searchTab*/
    /* border-radius:4px; */
    background-color: rgba(115,99,255,0.76);
    background-image: linear-gradient(-88deg, #824efb 0%, #8b5bfc 52%, #8e7bfc 100%);
    position: relative;
    display:flex;
    width:300px;
    padding:0px 0px;
    margin:-1px auto;
    border-radius: 25px;
    /* -webkit-box-shadow: 0px 0px 54px 1px rgba(115,99,255,0.76);
    -moz-box-shadow: 0px 0px 54px 1px rgba(115,99,255,0.76); */
    box-shadow: 0px 0px 25px 1px rgba(115,99,255,0.76);
    
}
.button{/* Buttonul de search*/
    background-color:transparent;
    border:2px solid;
    border-color:transparent;
    padding:0 15px 0 15px;
    --px: calc(23px);
    border-radius: var(--px) 0px 0px var(--px);
    border-right:none;
    
}
.searchButton {/* culoarea la search button*/
  color:white;
}
.searchInput{ /* Unde introduci textul*/
    width:100%;
    border:2px solid;
    border-left:none;
    border-right:none;
    border-color:transparent;
    background-color:transparent;
    outline-color: none;
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 2.5px 0px 4px 0px;
    font-size: 14px;
    color: #f3f3f3;
    
    
}
.searchInput:focus{
    outline:none;
}
.button:focus{ 
    outline:none;
}
.resetSearch:focus{ 
    outline:none;
}
.resetSearch{ /* X-ul care da reset la search*/
    background-color:transparent;
    --px:calc(23px);
    border-radius: 0px var(--px) var(--px) 0px;
    border:2px solid;
    border-color:transparent;
    padding:13px 12px 11px 0;
    border-left:none;
    cursor:pointer;
}
.form1{
    position:relative;

}
.dropdown::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: -8px;
    right: 0px;
    left: 0px;
    border-bottom: 8px solid #ffffff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    margin: auto;
    z-index: 1000000000000000000;
}
.dropdown{
    left:-25px;
    right:-25px;
    background-color: white;
    border-radius:7px;
    position:absolute;
    margin:10px 0;
    z-index: unset;
    color:black;
    box-shadow: 0px 0px 10px 1px rgba(115,99,255,0.15);
    z-index:3;
    flex-direction: column;
}
.posterImage{
    /* Style for "Layer 13" */
width: 38px;
height: 54px;
margin: 0 6px;
border-radius: 4px 0px 0px 4px;
}
.animeSearchListBorder{
    border-radius: 7px 7px 0px 0px;
    box-sizing:border-box;
    display:flex;
    padding: 5px 5px;
    transition: background-color .15s ease;
    cursor:pointer;
}
.animeSearchListBorder:hover {
    transition-duration: 0.15s;
    background-color: #8b5bfc;
}
.animeSearchListBorder:hover .title {
    transition-duration: 0.15s;
    color:white;
}
.animeSearchListBorder:hover .year {
    transition-duration: 0.15s;
    color:rgb(240, 240, 240);
}
.animeSearchListBorder:hover .genres {
    transition-duration: 0.15s;
    color:rgb(240, 240, 240);
}
.animeSearchList{
    box-sizing:border-box;
    display:flex;
    padding: 5px 5px;
    transition: background-color .15s ease,color .15s;
    cursor:pointer;
}
.animeSearchList:hover{
    background-color: #8b5bfc;
}
.animeSearchList:hover .year {
    transition-duration: 0.15s;
    color:rgb(240, 240, 240);
}
.animeSearchList:hover .genres {
    transition-duration: 0.15s;
    color:rgb(240, 240, 240);
}
.animeSearchList:hover .title {
    transition-duration: 0.15s;
    color:white;
}
.info{
    text-overflow: ellipsis;
    overflow:hidden;
}
.title{
    font-family: open-sans, sans-serif;
    font-weight: 600;
    font-size:12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    color:#8b5bfc;
}
.genres{
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-size:10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    color: #7e7e7e;
}
.year{
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-size:10px;
    color: #7e7e7e;
}
.listEveryAnime{
    text-align: center;
    color:#8b5bfc;
    font-family: open-sans, sans-serif; 
    font-weight: 700;
    font-size:13px;
    padding:5px 0 10px;
    cursor: pointer;
}
.listEveryAnime:hover{
    background-color: #8b5bfc;
    color:white;
    border-radius:0px 0px 7px 5px;
    
}

